
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Scripts</title>
    <script>
        async function runScript(scriptName) {
            const response = await fetch('./run/' + scriptName, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
            });
            const data = await response.json();
            alert(json.stringify(data));
        }
    </script>
</head>
<body>
    <h1>G1 printer Configuraion panel</h1>
    <hr>
    <button onclick="runScript('test')">Run Test Script</button><br>
    <hr>
    <!-- checkbox with label -->
    <p>Printer optionals:</p>
    <input type="checkbox" id="check1" name="check1" value="check1"><label for="check1">Heated bed</label><br>
    <input type="checkbox" id="check1" name="check1" value="check1"><label for="check1">Automatic feeding</label><br>

    <p>G1 updates:</p>
    <input type="checkbox" id="check1" name="check1" value="check1"><label for="check1">Check for update</label><br>
</body>
</html>
