.navbar{
    background-color: #f5f5f5 !important;    
    height: 48px;
}

.navbar-brand{
    color: #6b6b6b !important;
}

.sidebar{
    border-right: 1px solid #d8d8d8;
    width: 250px !important;
}

.sidebar a{
    color: #000;
}

.navbar-brand{
    color: #fff;
}
.content-min-height{
    min-height: calc(100vh - 80px);
}

.sidebar .nav-item *{
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #474747;
}

.sidebar .nav-item .bi{
    font-size: 20px;
    vertical-align: bottom;
    color: #858585;
}