<form id="configuratorForm" action="/tools/backend/write-printer-cfg" method="post">

  <div class="configuratorBackground" style="background-image: url('/tools{{ url_for('static', filename='printerRender.png') }}');" id="configGroup">
    <!-- ----- Heated bed configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigBed" aria-expanded="false" aria-controls="collapseConfigBed" style="bottom: 18%;left: 56%;"></a>
    <div class="card-configurator collapse card-configurator-bc" data-bs-parent="#configGroup" id="collapseConfigBed" style="bottom: 18%;left: 56%;">
      <div class="card card-body">
        <div class="card-header">
          Heated bed configurations
        </div>
        <label class="form-label">Bed Max power</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" id="heater_bed_max_power_percentage" placeholder="100" min="0" max="100" required step="1">
          <span class="input-group-text" id="basic-addon2">%</span>
        </div>
        <input type="hidden" class="form-control" id="heater_bed_max_power" name="heater_bed/max_power" placeholder="1.00" min="0" max="1" required step="0.01">
        <label class="form-label">Bed Max temperature</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="heater_bed/max_temp" placeholder="110" min="90" max="120" required step="1">
          <span class="input-group-text" id="basic-addon2">&deg;C</span>
        </div>
        <div class="mb-3">
          <label class="form-label">bed max size</label>
          <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="1000" min="600" required="" max="1000" step="1" id="bed_max_x">
            <input type="number" class="form-control" placeholder="1000" min="600" required="" max="1100" step="1" id="bed_max_y">
          </div>
          <input type="hidden" name="bed_mesh/mesh_max" value="1000, 1100" id="bed_max_xy">
        </div>
      </div>
    </div>
    <!-- ----- Boards configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigBoards" aria-expanded="false" aria-controls="collapseConfigBoards" style="bottom: 77.5%;left: 44%;"></a>
    <div class="card-configurator card-configurator-x2 collapse card-configurator-tc" data-bs-parent="#configGroup" id="collapseConfigBoards" style="bottom: 77.5%;left: 44%;">
      <div class="card card-body">
        <div class="card-header">
          Boards configurations
        </div>
        <!-- Serial Main board -->
        <label class="form-label">Serial Mainboard</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="mcu/serial" id="mainboardSerial" readonly>
          <button class="btn btn-outline-secondary" type="button" id="updateMainboardSerial">Update</button>
        </div>
        <!-- Serial Main board -->
        <label class="form-label">Serial Extruder board</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="mcu extruder_board/serial" id="extruderBoardSerial" readonly>
          <button class="btn btn-outline-secondary" type="button" id="updateExtruderBoardSerial">Update</button>
        </div>
      </div>
    </div>
    <!-- ----- Probe configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigProbe" aria-expanded="false" aria-controls="collapseConfigProbe" style="bottom: 30%;left: 56.5%;"></a>
    <div class="card-configurator card-configurator-x3 collapse card-configurator-bc" data-bs-parent="#configGroup" id="collapseConfigProbe" style="bottom: 30%;left: 56.5%;">
      <div class="card card-body">
        <div class="card-header">
          Probe configurations
        </div>
        <!-- Probe -->
        <div class="container mt-3">
          <div class="row align-items-start">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probe X offset</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="probe/x_offset" id="probe_x_offset" placeholder="0" min="0" required max="100" step="0.01">
                  <span class="input-group-text" id="basic-addon2">mm</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probe Y offset</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="probe/y_offset" id="probe_y_offset" placeholder="90" min="0" required max="100" step="0.01">
                  <span class="input-group-text" id="basic-addon2">mm</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row align-items-start">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probe Z speed</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="probe/speed" placeholder="10" min="1" required max="10" step="0.01">
                  <span class="input-group-text" id="basic-addon2">mm/s</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probing samples</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="probe/samples" placeholder="1" min="1" required max="5" step="1">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probe safe Z home X/Y Position</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="0" min="0" required max="100" step="1" id="safe_z_home_x_position">
                  <input type="number" class="form-control" placeholder="0" min="0" required max="100" step="1" id="safe_z_home_y_position">
                  <span class="input-group-text" id="basic-addon2">mm</span>
                </div>
                <input type="hidden" name="safe_z_home/home_xy_position" value="0, 0" id="safe_z_home_xy_position">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probe safe Z home speed</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="safe_z_home/speed" placeholder="100" min="50" required max="250" step="0.1">
                  <span class="input-group-text" id="basic-addon2">mm/s</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-3">
          <div class="row align-items-start">
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probing bed mesh speed</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="bed_mesh/speed" placeholder="270" min="100" required max="270" step="1">
                  <span class="input-group-text" id="basic-addon2">mm/s</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probing bed mesh points</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" placeholder="12" min="2" required max="30" step="1" id="bed_mesh_probe_x_points">
                  <input type="number" class="form-control" placeholder="12" min="2" required max="30" step="1" id="bed_mesh_probe_y_points">
                </div>
                <input type="hidden" name="bed_mesh/probe_count" value="0, 0" id="bed_mesh_probe_xy_points">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probing fade start</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="bed_mesh/fade_start" placeholder="5" min="1" required max="10" step="1">
                  <span class="input-group-text" id="basic-addon2">mm</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label class="form-label">probing fade end</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" name="bed_mesh/fade_end" placeholder="50" min="10" required max="500" step="1">
                  <span class="input-group-text" id="basic-addon2">mm</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="bed_mesh/mesh_min" value="0, 0" id="probe_xy_offset">
      </div>
    </div>
    <!-- ----- Extruder configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigExtruder" aria-expanded="false" aria-controls="collapseConfigExtruder" style="bottom: 34%;left: 60%;"></a>
    <div class="card-configurator card-configurator-x2 collapse card-configurator-bc" data-bs-parent="#configGroup" id="collapseConfigExtruder" style="bottom: 34%;left: 60%;">
      <div class="card card-body">
        <div class="card-header">
          Extruder configurations
        </div>
        <label class="form-label">Upper band min/max temperature</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="extruder/min_extrude_temp" placeholder="160" min="0" required max="200" step="1">
          <input type="number" class="form-control" name="extruder/max_temp" placeholder="280" min="200" required max="300" step="1">
          <span class="input-group-text" id="basic-addon2">&deg;C</span>
        </div>
        <label class="form-label">Middle band max temperature</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" readonly disabled>
          <input type="number" class="form-control" name="extruder1/max_temp" placeholder="280" min="200" required max="300" step="1">
          <span class="input-group-text" id="basic-addon2">&deg;C</span>
        </div>
        <label class="form-label">Lower band max temperature</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" readonly disabled>
          <input type="number" class="form-control" name="extruder2/max_temp" placeholder="280" min="200" required max="300" step="1">
          <span class="input-group-text" id="basic-addon2">&deg;C</span>
        </div>
      </div>
    </div>
    <!-- ----- Extruder Motors configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigExtruderMotors" aria-expanded="false" aria-controls="collapseConfigExtruderMotors" style="bottom: 51%;left: 60%;"></a>
    <div class="card-configurator card-configurator-x2 collapse card-configurator-bc" data-bs-parent="#configGroup" id="collapseConfigExtruderMotors" style="bottom: 51%;left: 60%;">
      <div class="card card-body">
        <div class="card-header">
          Extruder motors configurations
        </div>
        <div class="row">
          <div class="col">
            <label class="form-label">Extruder stepper model</label>
            <div class="input-group mb-3">
              <select class="form-select" aria-label="Default select example" id="extruder_stepper_model_select" name="extruder_stepper_model_select">
                <option selected value="tmc5160">tmc5160</option>
                <option value="tmc2209">tmc2209</option>
              </select>
            </div>
            <div class="mb-3 form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" name="extruder/invert_rotation" checked>
              <label class="form-check-label">Invert direction (Extruder)</label>
            </div>
          </div>
          <div class="col">
            <label class="form-label">Mixing stepper run current</label>
            <div class="input-group mb-3">
              <input type="number" class="form-control" name="mixing_stepper/run_current" placeholder="2.4" min="0.1" required max="2.5" step="0.1">
              <span class="input-group-text" id="basic-addon2">A</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ----- Kinematics configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigKinematics" aria-expanded="false" aria-controls="collapseConfigKinematics" style="bottom: 41%;left: 30%;"></a>
    <div class="card-configurator collapse card-configurator-bc" data-bs-parent="#configGroup" id="collapseConfigKinematics" style="bottom: 41%;left: 30%;">
      <div class="card card-body">
        <div class="card-header">
          Kinematics configurations
        </div>
        <label class="form-label">Printer max velocity</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="printer/max_velocity" placeholder="300" min="200" required max="320" step="1">
          <span class="input-group-text" id="basic-addon2">mm/s</span>
        </div>
        <label class="form-label">Printer max acceleration</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="printer/max_accel" placeholder="4000" min="1500" required max="6000" step="1">
          <span class="input-group-text" id="basic-addon2">mm/s</span>
        </div>
        <label class="form-label">Printer square corner velocity</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" name="printer/square_corner_velocity" placeholder="5" min="3" required max="7" step="0.1">
          <span class="input-group-text" id="basic-addon2">A</span>
        </div>
      </div>
    </div>
    <!-- ----- Motors configurations ----- -->
    <a class="btn-configurator" data-bs-toggle="collapse" data-bs-target="#collapseConfigMotors" aria-expanded="false" aria-controls="collapseConfigMotors" style="bottom: 16.5%;left: 82.7%;"></a>
    <div class="card-configurator card-configurator-x3 collapse card-configurator-bc" data-bs-parent="#configGroup" id="collapseConfigMotors" style="bottom: 16.5%;left: 59.5%;">
      <div class="card card-body">
        <div class="card-header">
          Motors configurations
        </div>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label class="form-label">Motor X Run current</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_x/run_current" placeholder="3" min="1.5" required max="5" step="0.1">
                <span class="input-group-text" id="basic-addon2">A</span>
              </div>

              <label class="form-label">Motor X Position max</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_x/position_max" placeholder="1100" min="100" required max="1100" step="1">
                <span class="input-group-text" id="basic-addon2">mm</span>
              </div>

              <label class="form-label">Motor X Rotation distance</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_x/rotation_distance" placeholder="72" min="1" required max="100" step="1">
                <span class="input-group-text" id="basic-addon2">mm</span>
              </div>

              <label class="form-label">Motor X Microsteps</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_x/microsteps" placeholder="16" min="1" required max="100" step="1">
                <span class="input-group-text" id="basic-addon2">Steps</span>
              </div>

              <div class="mb-3 form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="stepper_x/invert_rotation" checked>
                <label class="form-check-label">Invert direction (X)</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label class="form-label">Motor Y Run current</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_y/run_current" placeholder="6" min="3" required max="7" step="0.1">
                <span class="input-group-text" id="basic-addon2">A</span>
              </div>
              <label class="form-label">Motor Y Position max</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_y/position_max" placeholder="1000" min="100" required max="1050" step="1">
                <span class="input-group-text" id="basic-addon2">mm</span>
              </div>
            </div>

            <label class="form-label">Motor Y Rotation distance</label>
            <div class="input-group mb-3">
              <input type="number" class="form-control" name="stepper_y/rotation_distance" placeholder="72" min="1" required max="100" step="1">
              <span class="input-group-text" id="basic-addon2">mm</span>
            </div>

            <label class="form-label">Motor Y Microsteps</label>
            <div class="input-group mb-3">
              <input type="number" class="form-control" name="stepper_y/microsteps" placeholder="16" min="1" required max="100" step="1">
              <span class="input-group-text" id="basic-addon2">Steps</span>
            </div>

            <div class="mb-3 form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" name="stepper_y/invert_rotation">
              <label class="form-check-label">Invert direction (Y)</label>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label class="form-label">Motor Z Run current</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_z/run_current" placeholder="7" min="6" required max="8" step="0.1">
                <span class="input-group-text" id="basic-addon2">A</span>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Motor Z Position max</label>
              <div class="input-group mb-3">
                <input type="number" class="form-control" name="stepper_z/position_max" placeholder="1050" min="100" required max="1050" step="1">
                <span class="input-group-text" id="basic-addon2">mm</span>
              </div>
            </div>

            <label class="form-label">Motor Z Rotation distance</label>
            <div class="input-group mb-3">
              <input type="number" class="form-control" name="stepper_z/rotation_distance" placeholder="4" min="1" required max="100" step="1">
              <span class="input-group-text" id="basic-addon2">mm</span>
            </div>

            <label class="form-label">Motor Z Microsteps</label>
            <div class="input-group mb-3">
              <input type="number" class="form-control" name="stepper_z/microsteps" placeholder="16" min="1" required max="100" step="1">
              <span class="input-group-text" id="basic-addon2">Steps</span>
            </div>

            <div class="mb-3 form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" name="stepper_z/invert_rotation">
              <label class="form-check-label">Invert direction (Z)</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <div class="btn-configurator-groups">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#serialNumberModal">
      <i class="bi bi-cloud-arrow-down"></i> Cloud Reset
    </button>
    <button type="button" class="btn btn-outline-primary" id="ExportButton">
      <i class="bi bi-box-arrow-down"></i> Export
    </button>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ImportModal">
      <i class="bi bi-box-arrow-up"></i> Import
    </button>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#saveModal">
      <i class="bi bi-floppy-fill"></i> Save Configuration
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="saveModalLabel">Generate printer.cfg</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>⚠️ Warning:</strong> Proceeding will overwrite the <code>printer.cfg</code> file. Any manual changes
          or
          old configurations will be lost.
          We strongly recommend making a backup of the file before continuing.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!-- First Modal: Error and choice -->
  <div class="modal fade" id="configErrorModal" tabindex="-1" aria-labelledby="configErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-4">
        <div class="modal-header">
          <h5 class="modal-title" id="configErrorModalLabel">Configuration not found</h5>
        </div>
        <div class="modal-body">
          No previous configuration for the G1 3D printer was detected.<br>
          Would you like to download a default configuration or start with a clean base?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" id="startCleanBtn">Start Clean Configuration</button>
          <button type="button" class="btn btn-primary" id="downloadDefaultBtn">Download Default Configuration</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Modal: Insert Serial Number -->
  <div class="modal fade" id="serialNumberModal" tabindex="-1" aria-labelledby="serialNumberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-4">
        <div class="modal-header">
          <h5 class="modal-title" id="serialNumberModalLabel">Enter Machine Serial Number</h5>
        </div>
        <div class="modal-body">
          <label for="serialNumberInput" class="form-label">Machine Serial Number number (e.g. G1-0000-00):</label>
          <input type="text" class="form-control" id="serialNumberInput" placeholder="G1-0000-00">
          <div id="serialNumberError" class="text-danger mt-2 d-none">Invalid Serial Number number or download failed.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="confirmSerialNumberDownload">Download Configuration</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Import Modal -->
  <div class="modal fade" id="ImportModal" tabindex="-1" aria-labelledby="ImportModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="ImportModalLabel">Import Configuration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <p>Select a JSON file from your computer to import the configuration backup.</p>
          <input type="file" id="jsonFileInput" accept=".json" class="form-control mb-2">
          <div id="importStatus" class="text-muted small mb-2"></div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirmImportBtn" disabled>Start Import</button>
        </div>

      </div>
    </div>
  </div>

</form>