################################### BED ###################################
#
# - configuration for the heated bed
# 
###########################################################################

[heater_bed]
heater_pin: extruder_board: PB3 #D11
sensor_pin: PF3 #PF3
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 75.616
pid_Ki: 1.110
pid_Kd: 1287.354
min_temp: 0
max_temp: 90
pwm_cycle_time: 0.200

[verify_heater heater_bed]
max_error: 200 #120
check_gain_time:100 #20
hysteresis: 8 #5
heating_gain: 1 #2
