############################### mainsail.cfg #######################################
#
# - This file is used to define the system macro.
# 
################################################################################

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[display_status]

[respond]

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  SET_PRESSURE_ADVANCE EXTRUDER=extruder SMOOTH_TIME=0.04
  SET_PRESSURE_ADVANCE EXTRUDER=extruder ADVANCE=0.0

  _GINGER_BED_SHUTDOWN
  _GINGER_EXTRUDER_SHUTDOWN
  _GINGER_COOLER_FAN_SHUTDOWN
  _GINGER_FEEDER_DISABLE
  
  G28 X
  M84

  CANCEL_PRINT_BASE
  _GINGER_BUZZER_TONE_CANCEL

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  {% set temp1 = printer.extruder.target %}
  {% set temp2 = printer.extruder1.target %}
  {% set temp3 = printer.extruder2.target %}
  {% set z_pos = printer.toolhead.position.z %}
  {% set y_pos = printer.toolhead.position.y %}
  {% set x_pos = printer.toolhead.position.x %}

  SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE="{{'temp1': temp1,'temp2': temp2,'temp3': temp3, 'z_pos': z_pos, 'y_pos': y_pos, 'x_pos': x_pos}}" 
  G1 Z{printer.toolhead.position.z + 10} F300
  G1 X0 Y0 F6000
  _GINGER_EXTRUDER_SHUTDOWN
  PAUSE_BASE


[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
variable_last_extruder_temp: {'temp1': 0,'temp2': 0,'temp3': 0, 'z_pos': 0, 'y_pos': 0, 'x_pos': 0}
gcode:
  {% set sp_move = printer.configfile.settings.pause_resume.recover_velocity %}
  {% set prompt_txt = [] %}
  
  _GINGER_EXTRUDER_SET_UP S={ last_extruder_temp.temp1 }
  _GINGER_EXTRUDER_SET_MID S={ last_extruder_temp.temp2 }
  _GINGER_EXTRUDER_SET_DOWN S={ last_extruder_temp.temp3 }
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={last_extruder_temp.temp1-5} MAXIMUM={last_extruder_temp.temp1+90}
  TEMPERATURE_WAIT SENSOR=extruder1 MINIMUM={last_extruder_temp.temp2-5} MAXIMUM={last_extruder_temp.temp2+90}
  TEMPERATURE_WAIT SENSOR=extruder2 MINIMUM={last_extruder_temp.temp3-5} MAXIMUM={last_extruder_temp.temp3+90}
  
  G1 X{last_extruder_temp.x_pos} Y{last_extruder_temp.y_pos} F6000
  G1 Z{last_extruder_temp.z_pos} F300

  RESUME_BASE VELOCITY={params.VELOCITY|default(sp_move)}