# REFERENCE.... https://github.com/Yumi-Lab/YUMI_PLR/blob/main/plr.cfg

[save_variables]
filename: ~/printer_data/config/variables.cfg

[gcode_macro _GINGER_MOVE_COUNTER]
variable_move_count: 0
variable_system_in_power_loss: False
gcode:
  {% set current = printer["gcode_macro _GINGER_MOVE_COUNTER"].move_count %}
  {% set updated = current + 1 %}
  SET_GCODE_VARIABLE MACRO=_GINGER_MOVE_COUNTER VARIABLE=move_count VALUE={updated}

[gcode_macro G0]
rename_existing: G0.1
gcode:
  {% if printer["gcode_macro _GINGER_MOVE_COUNTER"].system_in_power_loss %}
    _PLR_STOP
  {% else %}
    {% set args = [] %}
    {% for k, v in params.items() %}
      {% if k != 'G' %}
        {% set _ = args.append(k ~ v) %}
      {% endif %}
    {% endfor %}
    {% set param_str = args|join(" ") %}
    G0.1 { param_str }
    _GINGER_MOVE_COUNTER
  {% endif %}

[gcode_macro G1]
rename_existing: G1.1
gcode:
  {% if printer["gcode_macro _GINGER_MOVE_COUNTER"].system_in_power_loss %}
    _PLR_STOP
  {% else %}
    {% set args = [] %}
    {% for k, v in params.items() %}
      {% if k != 'G' %}
        {% set _ = args.append(k ~ v) %}
      {% endif %}
    {% endfor %}
    {% set param_str = args|join(" ") %}
    G1.1 { param_str }
    _GINGER_MOVE_COUNTER
  {% endif %}

[gcode_macro G2]
rename_existing: G2.1
gcode:
  {% if printer["gcode_macro _GINGER_MOVE_COUNTER"].system_in_power_loss %}
    _PLR_STOP
  {% else %}
    {% set args = [] %}
    {% for k, v in params.items() %}
      {% if k != 'G' %}
        {% set _ = args.append(k ~ v) %}
      {% endif %}
    {% endfor %}
    {% set param_str = args|join(" ") %}
    G2.1 { param_str }
    _GINGER_MOVE_COUNTER
  {% endif %}

[gcode_macro G3]
rename_existing: G3.1
gcode:
  {% if printer["gcode_macro _GINGER_MOVE_COUNTER"].system_in_power_loss %}
    _PLR_STOP
  {% else %}
    {% set args = [] %}
    {% for k, v in params.items() %}
      {% if k != 'G' %}
        {% set _ = args.append(k ~ v) %}
      {% endif %}
    {% endfor %}
    {% set param_str = args|join(" ") %}
    G3.1 { param_str }
    _GINGER_MOVE_COUNTER
  {% endif %}

[gcode_macro G4]
rename_existing: G4.1
gcode:
  {% if printer["gcode_macro _GINGER_MOVE_COUNTER"].system_in_power_loss %}
    _PLR_STOP
  {% else %}
    {% set args = [] %}
    {% for k, v in params.items() %}
      {% if k != 'G' %}
        {% set _ = args.append(k ~ v) %}
      {% endif %}
    {% endfor %}
    {% set param_str = args|join(" ") %}
    G4.1 { param_str }
    _GINGER_MOVE_COUNTER
  {% endif %}

[gcode_macro SHOW_MOVE_COUNT]
gcode:
  {% set count = printer["gcode_macro _GINGER_MOVE_COUNTER"].move_count %}
  M118 Current move command count: {count}

[gcode_macro SET_SYSTEM_IN_POWER_LOSS]
gcode:
  SET_GCODE_VARIABLE MACRO=_GINGER_MOVE_COUNTER VARIABLE=system_in_power_loss VALUE=True
  M118 System in power loss detected.

[gcode_macro RESET_SYSTEM_IN_POWER_LOSS]
gcode:
  SET_GCODE_VARIABLE MACRO=_GINGER_MOVE_COUNTER VARIABLE=system_in_power_loss VALUE=False
  SET_GCODE_VARIABLE MACRO=_GINGER_MOVE_COUNTER VARIABLE=move_count VALUE=0
  M118 System in power loss reset.
  M118 Please resume printing.

[gcode_macro _PLR_STOP]
description: Pause the actual running print for power loss recovery
gcode:
  # 1. Save to file the current state of the print
  {% set count = printer["gcode_macro _GINGER_MOVE_COUNTER"].move_count %}
  SAVE_VARIABLE VARIABLE=PLR_MOVE_COUNT VALUE={count}

  {% set filepath=printer.virtual_sdcard.file_path %}
  {% set filename=filepath.split('/')%}
  SAVE_VARIABLE VARIABLE=PLR_LAST_FILE VALUE='"{ filename[-1] }"'
  SAVE_VARIABLE VARIABLE=PLR_PATH VALUE='"{ printer.virtual_sdcard.file_path }"'

  # TODO: 2. move extruder to park position 
  
  # 3. STOP the print
  M112